<h1>Sighting saved!</h1>

<p>Your sighting was successfully saved.</p>

<p><a href="/species/<%= @sighting.specie.id %>">View <%= @sighting.specie.name %></a></p>

<p><a href="/species">Return to specie listing</a></p>
